doctype html
html
  head
    title  Usuarios registrados
  body
    div
      a( href= "/logout" ) Salir
      |
      |
      table( class= "table" )
        thead
          tr
            th Name
            th Email
        tbody
          each val in users
            tr
              td= val.name
              td= val.email
